
<section style="padding-top: 1vh;" class="content">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="header ju" style="justify-content: space-between;">
          <h2>
            <strong>ติดตามการช่วยเหลือ</strong>
          </h2>
          <div class="row">
            <div class="col-md-6 col-sm-12 mb-sm-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="pickerStart" (dateChange)="onStartDate($event)"
                       [(ngModel)]="startDate">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>End date</mat-label>
                <input matInput [matDatepicker]="pickerEnd" [min]="startDate" (dateChange)="onEndDate($event)" [(ngModel)]="endDate">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="body">
<!--          <div>-->
<!--            <mat-form-field appearance="outline" >-->
<!--              <mat-label>Search</mat-label>-->
<!--              <input matInput placeholder="remark, visit number, order name" (keyup)="filter_input($event);">-->
<!--              <mat-icon type="submit" style="cursor: pointer;color:#001f60;" matSuffix>search_outlined</mat-icon>-->
<!--            </mat-form-field>-->
<!--          </div>-->
                <p-table responsiveLayout="scroll" [value]="submissionControl" selectionMode="single">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th>วันที่</th>
                      <th>ชื่อ</th>
                      <th>คำร้อง</th>
                      <th>หน่วยงาน</th>
                      <th>สถานะ</th>
                      <th style="width:4rem"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-submissionControl let-columns="columns">
                    <tr>
                      <td>{{submissionControl.createDate | dateFormat : 'DD-MM-YYYY HH:mm' }}</td>
                      <td>{{submissionControl.title + submissionControl.firstName + " " + submissionControl.lastName}}</td>
                      <td>{{submissionControl.petition}}</td>
                      <td>{{submissionControl.agencyNameTH}}</td>
                      <td>{{submissionControl.submissionControlStatusNameTH}}</td>
                      <td>
                        <button *ngIf="submissionControl.submissionControlStatusID == '1'" mat-mini-fab color="warn" (click)="onRowConfirm(submissionControl)">
                          <mat-icon>check</mat-icon>
                        </button>
                        <button *ngIf="submissionControl.submissionControlStatusID != '1'" mat-mini-fab color="primary" (click)="onRowSelect(submissionControl)">
                          <mat-icon>manage_search</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>

        </div>
      </div>
    </div>
  </div>
</section>
