<div id="chat" [@popOverState]="stateName" *ngIf="show"
     style="position: fixed;right: 10px;bottom: 10px;">
  <div class="card">
    <div class="chat">
      <div class="chat-header clearfix" style="cursor: pointer" (click)="toggle()">
        <img src="assets/images/logo/icon.png" alt="avatar">
        <div class="chat-about">
          <div class="chat-with">Maria Smith</div>
          <div class="chat-num-messages">2 new messages</div>
        </div>
      </div>
      <div class="chat-history" id="chat-conversation" style="position: relative; max-height: 449px;"
           [perfectScrollbar]>
        <ul>

          <li  [ngClass]="{'clearfix': isFirst || isLast}" *ngFor="let m of listMessage; index as i; first as isFirst; last as isLast">

            <div *ngIf="staff.id == m.createByID && !m.isActivate">
              <div class="message-data text-end">
                <span class="message-data-time">{{m.createByDate}}</span>
                &nbsp; &nbsp;
                <span class="message-data-name">{{m.createByName}}</span>
<!--                <img [src]="m.createByPhotoPath" style="width: 50px">-->
              </div>
              <div class="message other-message float-end"> {{m.message }} </div>
            </div>

            <div *ngIf="staff.id != m.createByID && !m.isActivate">
              <div class="message-data">
                <span class="message-data-name">{{m.createByName}} </span>
                <span class="message-data-time">{{m.createByDate}}</span>
              </div>
              <div class="message my-message">
                <p>{{m.message}}</p>
              </div>
            </div>

            <div *ngIf="m.isActivate">
              <p>{{m.name}} {{m.action}}</p>

            </div>

          </li>

        </ul>
      </div>
      <div class="chat-message clearfix">
        <div class="form-group">
          <div class="form-line">
            <mat-form-field class="example-full-width" appearance="outline"
                            [hideRequiredMarker]="hideRequiredControl.value"  >
              <input id="text-message" matInput placeholder="Enter text here.." required [(ngModel)]="messageText" (keyup.enter)="sendMessage($event)">
            </mat-form-field>
          </div>
        </div>
        <div class="chat-upload">
          <button mat-mini-fab class="bg-deep-orange msr-2"><i class="material-icons">attach_file</i>
          </button>
          <button mat-mini-fab class="bg-deep-orange"><i class="material-icons">insert_emoticon</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" style="position: fixed;bottom: 15px;right: 30px;cursor: pointer" *ngIf="!show" (click)="toggle()">
  <div class="chat">
    <div class="chat-header clearfix">
      <img src="assets/images/logo/icon.png" alt="avatar">
      <div class="chat-about">
        <div class="chat-with">Maria Smith</div>
        <div class="chat-num-messages">2 new messages</div>
      </div>
    </div>
  </div>
</div>
