<div id="chat" [@popOverState]="stateName" *ngIf="show"
     style="position: fixed;right: 10px;bottom: 10px;">
  <div class="card">
    <div class="chat">
      <div class="chat-header clearfix" style="cursor: pointer" (click)="toggle()">
        <img src="assets/images/logo/icon.png" alt="avatar">
        <div class="chat-about">
          <div class="chat-with">Maria Smith</div>
          <div class="chat-num-messages">2 new messages</div>
        </div>
      </div>
      <div class="chat-history" id="chat-conversation" style="position: relative; max-height: 449px;"
           [perfectScrollbar]>
        <ul>
          <li class="clearfix">
            <div class="message-data text-end">
                        <span class="message-data-time">10:10 AM, Today
                      </span>
              &nbsp; &nbsp;
              <span class="message-data-name">Maria</span>
            </div>
            <div class="message other-message float-end"> Hi Robert , how are you? How is
              your work going on?
            </div>
          </li>
          <li>
            <div class="message-data">
              <span class="message-data-name">Robert </span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              <p>Its good. We completed almost all task assign by our manager.</p>
              <div class="row">
              </div>
            </div>
          </li>
          <li>
            <div class="message-data">
              <span class="message-data-name">Robert </span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              <p>How are you feel today? What's about vacation?.</p>
              <div class="row">
              </div>
            </div>
          </li>
          <li class="clearfix">
            <div class="message-data text-end">
                      <span class="message-data-time">10:10 AM, Today
                      </span>
              &nbsp; &nbsp;
              <span class="message-data-name">Maria</span>
            </div>
            <div class="message other-message float-end"> I am good, We think for next
              weekend.
            </div>
          </li>
        </ul>
      </div>
      <div class="chat-message clearfix">
        <div class="form-group">
          <div class="form-line">
            <mat-form-field class="example-full-width" appearance="outline"
                            [hideRequiredMarker]="hideRequiredControl.value">
              <input matInput placeholder="Enter text here.." required>
            </mat-form-field>
          </div>
        </div>
        <div class="chat-upload">
          <button mat-mini-fab class="bg-deep-orange msr-2"><i class="material-icons">attach_file</i>
          </button>
          <button mat-mini-fab class="bg-deep-orange"><i class="material-icons">insert_emoticon</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" style="position: fixed;bottom: 15px;right: 30px;cursor: pointer" *ngIf="!show" (click)="toggle()">
  <div class="chat">
    <div class="chat-header clearfix">
      <img src="assets/images/logo/icon.png" alt="avatar">
      <div class="chat-about">
        <div class="chat-with">Maria Smith</div>
        <div class="chat-num-messages">2 new messages</div>
      </div>
    </div>
  </div>
</div>
