.container {
    width: 100vw;
    height: 93vh;
    // border: 1px solid #fff;
  }

  .sidenav-content {
    // display: flex;
    height: 100%;
    // align-items: center;
    // justify-content: center;
  }

  .sidenav {
    padding: 20px;
    width: 13vw;
    background-color: #2d3b4d;
  }
p{color: #FFF}
