<h2 mat-dialog-title>เพิ่มไทม์ไลน์ </h2>
<div *ngIf="data.type === 'addTimeLine'">
  <mat-dialog-content style="height: 65vh;">
    <div class="row">
      <div [ngClass]="{'col':s.id !== 1&&s.id !== 6}" *ngFor="let s of orderStatus" style="margin-bottom: 5px">
        <button *ngIf="s.id !== 1&&s.id !== 6" (click)="setStatus(s)" [disabled]="status.id !== s.id&&selectedStatus"
                class="bt-id-{{s.id}}" mat-raised-button color="primary">{{s.nameEN}}</button>
      </div>
    </div>
    <br>
    <div class="row " *ngIf="status.id == 4||status.id == 7&&selectedStatus">
      <div class="labelText">
        หน่วยงาน
      </div>
      <div class="col">
        <mat-form-field class="nameWith" appearance="outline" style="width: 95%;margin-left: 2%;margin-right: 1%;">
          <mat-label></mat-label>
          <mat-select [(ngModel)]="agencyId" (valueChange)="listUserByAgency($event)">
            <mat-option *ngFor="let item of agencyList" [value]="item.id">{{item.agencyNameTH}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row " *ngIf="status.id == 4||status.id == 7&&selectedStatus">
      <div class="labelText">
        บุคคล
      </div>
      <div class="col">
        <mat-form-field class="nameWith" appearance="outline" style="width: 95%;margin-left: 2%;margin-right: 1%;">
          <mat-label></mat-label>
          <mat-select [(ngModel)]="userId">
            <mat-option *ngFor="let item of userList" [value]="item.id">{{item.title}} {{item.name}} {{item.surname}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center">
        <mat-form-field appearance="outline" style="width: 95%;">
          <mat-label>ข้อคิดเห็น</mat-label>
          <textarea matInput placeholder="ข้อคิดเห็น" rows="5" [(ngModel)]="remark"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row" style="margin-top: 20px;">
          <div class="labelText">
            อัปโหลดไฟล์
          </div>
          <div class="col" style="width: 98%;margin-left: 1%;margin-right: 1%;">
            <div class="nameWith">
              <ngx-file-drag-drop id="fileDragDrop" activeBorderColor="#3F51B5" style="min-width: 100%;"
                                  [multiple]="true" [formControl]="fileControl" (change)="onUploadFile($event)">
              </ngx-file-drag-drop>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div style="text-align: end;">
    <button color="primary" mat-raised-button (click)="save()" [disabled]="!selectedStatus">ส่ง</button>
  </div>
</div>
<div *ngIf="data.type === 'newTimeLine'">
  <mat-dialog-content style="height: 65vh;">
    <div class="row">
      <div class="col" style="text-align: center">
        <mat-form-field appearance="outline" style="width: 95%;">
          <mat-label>ข้อคิดเห็น</mat-label>
          <textarea matInput placeholder="ข้อคิดเห็น" rows="5" [(ngModel)]="remark"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row" style="margin-top: 20px;">
          <div class="labelText">
            อัปโหลดไฟล์
          </div>
          <div class="col" style="width: 98%;margin-left: 1%;margin-right: 1%;">
            <div class="nameWith">
              <ngx-file-drag-drop id="fileDragDrop2" activeBorderColor="#3F51B5" style="min-width: 100%;"
                                  [multiple]="true" [formControl]="fileControl" (change)="onUploadFile($event)">
              </ngx-file-drag-drop>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div style="text-align: end;">
    <button color="primary" mat-raised-button (click)="newTimeLine()" >ส่ง</button>
  </div>
</div>
