<h2 mat-dialog-title>เพิ่มไทม์ไลน์ </h2>
<mat-dialog-content>
  <div class="row">
    <div class="col" *ngFor="let s of orderStatus">
      <button *ngIf="s.id !== 1&&s.id !== 6" mat-raised-button color="primary">{{s.nameEN}}</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col" style="text-align: center">
      <mat-form-field appearance="outline" style="width: 95%;">
        <mat-label>ข้อคิดเห็น</mat-label>
        <textarea matInput placeholder="ข้อคิดเห็น" rows="5" [(ngModel)]="remark"></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
