
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mwac-front-end-primary: mat.define-palette(mat.$indigo-palette);
$mwac-front-end-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mwac-front-end-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mwac-front-end-theme: mat.define-light-theme((
  color: (
    primary: $mwac-front-end-primary,
    accent: $mwac-front-end-accent,
    warn: $mwac-front-end-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mwac-front-end-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// regular style toast
@import '~ngx-toastr/toastr';

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
@import 'assets/css/toast.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
.p-calendar {
  width: 100%;
  height: 50px;
}

.p-calendar  .p-datepicker {
  min-width: 200px !important;
}


.p-calendar-w-btn .p-inputtext {
  background-color: #f0f8ff00;
}


#fileDragDrop{
  .placeholder{
      background-color: revert;
    }
}
#fileDragDrop2{
  .placeholder{
      background-color: revert;
    }
}
