.card .header {
  position: relative;
  display: flex;
  width: 100%;
  // color: #555;
  // padding: 10px 15px;
  // line-height: 30px;
}
:host ::ng-deep {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 40rem) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-responsive-demo {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 90%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: .4rem;
            min-width: 30%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}

.p-breadcrumb.p-component {
  background: yellowgreen;
}

.breadcrumb {
  @media (max-width: 820px) {
      display: none;
      margin-top: 0px !important;
  }
}

.mgTop {
  @media (max-width: 820px) {
      margin-bottom: 10px;
  }
  @media (max-width: 820px) {
      margin-bottom: 15px;
  }
}

.nameWith {
  @media (max-width: 500px) {
      width: 98% !important;
      margin-left: 1% !important;
      margin-right: 1% !important;
      padding-left: 15px;
  }
}

.iconHome {
  font-size: 21px;
  color: dimgrey;
  cursor: pointer;
}

.labelText {
  width: 150px;
  padding-top: 10px;
  padding-left: 35px;
  @media (max-width: 820px) {
      width: 100%;
  }
}

.p-datepicker {
  width: 350px;
}

.head {
  font-size: 20px;
  width: 97%;
  background-color: var(--blue-500);
  margin-left: 2%;
  margin-block: auto;
  padding: 10px 10px;
  margin-bottom: 15px;
  border-radius: 2px;
  color: white;
}

.classHe{
  padding: 27px 6px;
  font-size: xxx-large;
}

.textHe{
  text-align: end;
  font-size: large;
}

.textareaHe{
  text-align: end;
  font-size: xxx-large;
  padding-top: 35px;
}

.marginCard{
  margin: 10px 0px;
}
