<div class="container-fluid">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header">
        <div class="row" style="width: 100%;height: 70px;">
          <div class="col-12 col-sm-6 mgTop">
            <p class="mb-0" style="font-size: 17px;margin: 20px;">ยื่นคำร้องขอความช่วยเหลือ</p>
          </div>
          <div class="col-12 col-sm-6 breadcrumb"
            style="display: flex;justify-content: flex-end;align-items: flex-end;margin-top: 20px;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/dashboard"><span
                    class="material-icons-outlined iconHome">home</span>
                </li>
                <li class="breadcrumb-item active" aria-current="page">ยื่นคำร้องขอความช่วยเหลือ</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="body">

        <form name="formPetition" [formGroup]="formPetition" (ngSubmit)="submitData();">
          <div class="row" style="width: 100%;">
            <div class="col">
              <div class="row ">
                <div class="col nameWith">
                  <div class="head">
                    แบบยื่นคำร้อง
                  </div>
                </div>
              </div>

              <div class="row ">
                <div class="labelText">
                  หมวดหมู่
                </div>

                <div class="col">
                  <div style="width: 98%;margin-left: 1%;margin-right: 1%;">
                    <mat-form-field class="nameWith" appearance="outline"
                      style="width: 48%;margin-right: 2%;">
                      <mat-label>ประเภทหมวดหมู่</mat-label>
                      <mat-select formControlName="{{formConfig.agencyID.field}}">
                        <mat-option *ngFor="let item of agencyList" [value]="item.id">{{item.agencyNameTH}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="nameWith" appearance="outline" style="width: 48%;margin-left: 2%;">
                      <mat-label>หมายเลขเอกสาร</mat-label>
                      <input matInput formControlName="{{formConfig.fromID.field}}">
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row ">
                <div class="labelText">
                  ชื่อ-สกุล ผู้ร้อง
                </div>
                <div class="col">
                  <div style="width: 98%;margin-left: 1%;margin-right: 1%;">
                    <mat-form-field class="nameWith" appearance="outline" style="width: 18%;margin-right: 2%;">
                      <mat-label>คำนำหน้า</mat-label>
                      <input matInput formControlName="{{formConfig.title.field}}">
                    </mat-form-field>

                    <mat-form-field class="nameWith" appearance="outline"
                      style="width: 38%;margin-left: 1%;margin-right: 1%;">
                      <mat-label>ชื่อ</mat-label>
                      <input matInput formControlName="{{formConfig.firstName.field}}">
                    </mat-form-field>

                    <mat-form-field class="nameWith" appearance="outline" style="width: 38%;margin-left: 2%;">
                      <mat-label>สกุล</mat-label>
                      <input matInput formControlName="{{formConfig.lastName.field}}">
                    </mat-form-field>
                  </div>

                </div>
              </div>

              <div class="row ">
                <div class="labelText">
                  คำร้อง
                </div>
                <div class="col">
                  <mat-form-field class="nameWith" appearance="outline"
                    style="width: 98%;margin-left: 1%;margin-right: 1%;">
                    <textarea matInput rows="4" formControlName="{{formConfig.petition.field}}"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row ">
                <div class="labelText">
                  ชื่อสถานที่ทำงาน
                </div>
                <div class="col">
                  <mat-form-field class="nameWith" appearance="outline"
                    style="width: 98%;margin-left: 1%;margin-right: 1%;">
                    <input matInput formControlName="{{formConfig.office.field}}">
                  </mat-form-field>
                </div>
              </div>

              <div class="row ">
                <div class="labelText">
                </div>
                <div class="col">
                  <div style="width: 98%;margin-left: 1%;margin-right: 1%;">
                    <mat-form-field class="nameWith" appearance="outline" style="width: 58%;margin-right: 2%;">
                      <mat-label>ที่อยู่</mat-label>
                      <input matInput formControlName="{{formConfig.address.field}}">
                    </mat-form-field>

                    <!-- <mat-form-field class="nameWith" appearance="outline" style="width: 38%;margin-left: 1%;margin-right: 1%;">
                    <mat-label>ถนน</mat-label>
                    <input matInput>
                  </mat-form-field> -->

                    <mat-form-field class="nameWith" appearance="outline" style="width: 38%;margin-left: 2%;">
                      <mat-label>ตำบล</mat-label>
                      <input matInput formControlName="{{formConfig.subDistrict.field}}">
                    </mat-form-field>
                  </div>

                </div>
              </div>

              <div class="row ">
                <div class="labelText">
                </div>
                <div class="col">
                  <div style="width: 98%;margin-left: 1%;margin-right: 1%;">
                    <mat-form-field class="nameWith" appearance="outline" style="width: 31%;margin-right: 2%;">
                      <mat-label>อำเภอ</mat-label>
                      <input matInput formControlName="{{formConfig.district.field}}">
                    </mat-form-field>

                    <mat-form-field class="nameWith" appearance="outline"
                      style="width: 32%;margin-left: 1%;margin-right: 1%;">
                      <mat-label>จังหวัด</mat-label>
                      <input matInput formControlName="{{formConfig.province.field}}">
                    </mat-form-field>

                    <mat-form-field class="nameWith" appearance="outline" style="width: 31%;margin-left: 2%;">
                      <mat-label>รหัสไปรษณีย์</mat-label>
                      <input matInput formControlName="{{formConfig.postcode.field}}">
                    </mat-form-field>
                  </div>

                </div>
              </div>

              <div class="row ">
                <div class="labelText">
                  วัน-เวลา
                </div>
                <div class="col" style="width: 98%;margin-left: 1%;margin-right: 1%;">
                  <div class="nameWith">
                    <p-calendar formControlName="{{formConfig.petitionDate.field}}" [showTime]="true" [showIcon]="true"
                      inputId="icon"></p-calendar>
                  </div>
                </div>
              </div>

              <div class="row" style="margin-top: 20px;">
                <div class="labelText">
                  อัปโหลดไฟล์
                </div>
                <div class="col" style="width: 98%;margin-left: 1%;margin-right: 1%;">
                  <div class="nameWith">
                    <ngx-file-drag-drop id="fileDragDrop" activeBorderColor="#3F51B5" style="min-width: 100%;"
                      [multiple]="true" [formControl]="fileControl" (change)="onUploadFile($event)">
                    </ngx-file-drag-drop>
                  </div>
                </div>
              </div>


              <div class="row " style="margin: 15px 0px;">

                <div class="col nameWith">
                  <div>
                    <button style="width: 100%;background-color: var(--blue-500);" pButton pRipple type="submit"
                      label="บันทึก"></button>
                  </div>
                </div>
                <div class="col nameWith">
                  <div>
                    <button (click)="ifCancel()" style="width: 100%;background-color: #fd0018fa;" pButton pRipple
                      type="button" label="ยกเลิก" class="p-button-danger"></button>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>