<div class="row" style="width: 100%;">
    <div class="col">
        <p class="mb-0" style="font-size: 20px;margin: 20px;">ยื่นคำร้องขอความช่วยเหลือ</p>
    </div>
    <div class="col" style="display: flex;justify-content: flex-end;align-items: flex-end;" >
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">ยื่นคำร้องขอความช่วยเหลือ</li>
            </ol>
          </nav>
    </div>
</div>

<div class="row" style="width: 100%;">
   <div class="col">
       
   </div>


</div>